/* Structure */
body {
    font-family: "Verdana", sans-serif;
    background-image: url('images/main_bg.jpg');
}

div {
    background: #0F758C;
    margin: 20px;
}

/* Navigation */
a{
    text-decoration: none;
    color:#F2C49B;
}

/* Tables */

/* Typography */
h1 {
    color: #F2CD88;
}

h2{
    color:#032940;
}

p{
    color: #034159;
}