/* Structure */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F5EBD1;
}

#exercise{
    text-align: center;
    position: relative;
}

#climb_stairs_div{
    text-align: center;
    margin-top: 50px;
}

/* Typography */
h1{
    text-align: center;
    font-size: 42px;
    color: #58004F;
}

h2{
    text-align: center;
    color: #CE7F98;
    font-size: 36px;
}

h4{
    text-align: center;
    color: #CE7F98;
    font-size: 28px;
}

h3{
    color:#58004F;
}

.flex-container{
    background-color: #f4c7b7;
    margin: 15px;
    text-align: center;
    padding:20px;
}

.modal-container{
    text-align: center;
    cursor: pointer;
}

.hidden{
    display: none;
}

section{
    text-align: center;
    color: #58004F;
}

section a{
    color: #f4c7b7;
    text-shadow:#58004F 1px 1px 1px;
}

/* Modal */
.close{
    color:#58004F;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    z-index: 1000;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
}

.modal-content{
    background-color: #CE7F98;
    color:#58004F;
    padding: 20px;
    gap: 20px;
}

.modal-text{
    text-align: left;
}

/* Animations */
.modal-image-container{
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Larger Resolutions */
@media only screen and (min-width: 768px) {
    .flex-container{
        display: flex;
    }

    .modal-container, .modal-text{
        flex: 1;
    }
}