/* Structure */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: #ececec;
}

footer h4{
    text-align: center;
    font-size: 22px;
    padding: 20px;
}

.col1of4{
    background-color: #b4b4b3;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

#symptom_form{
    background-color: #b4b4b4;
    margin-left: 20%;
    margin-right: 20%;
}

#symptom_text{
    padding: 10px;
}

.aboutcol1of2{
    padding: 10px;
}

.aboutcol1of2 img{
    width: 100%;
    height: auto;
    max-width: 1110px;
}

/* Positioning */
.login_buttons{
    text-align: right;
    padding: 20px;
}

main{
    padding: 20px;
}

/* Navigation */
#main_nav{
    text-align: right;
    padding-bottom: 1px;
}

#main_nav ul{
    list-style-type: none;
}

#main_nav li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#main_nav a{
    text-decoration: none;
    color: black;
}

#main_nav a:hover{
   font-weight: bold;
}

/* Sliders */
.slide_container{
    width: 70%;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: #ececec;
    outline: none;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #7b7b7b;
    cursor: pointer;
}

/* Calendar */
/* Adapted from https://www.w3schools.com/howto/howto_css_calendar.asp */
#stats_title{
    margin-left: 5%;
}

#calendar ul{
    list-style-type: none;
}

#calendar{
    margin-left: 5%;
    margin-right: 5%;
}

.month{
    background-color: #a1a1a1;
    color: white;
    text-align: center;
    padding: 10px;
}

.month ul{
    margin: 0;
    padding: 0;
}

.month ul li{
    font-size: 20px;
}

.month .prev{
    float: left;
    padding-top: 10px;
}

.month .next{
    float: right;
    padding-top: 10px;
}

.weekdays{
    margin: 0;
    padding: 10px 0;
    background-color: #b4b4b3;
}

.weekdays li{
    display: inline-block;
    width: 13.6%;
    text-align: center;
}

.days{
    padding: 10px 0;
    background-color: #ececec;
    margin: 0;
}

.days li{
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
}

.active {
    background: #7b7b7b;
    color: white !important;
}

.statcol1of2{
    margin-left: 5%;
}

/* Grid */
.grid{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid div{
    padding: 10px;
    border: 5px solid white;
    text-align: center;
}

.grid img{
    margin: 0;
    padding: 0;
}

.grid h4{
    font-size: 18px;
    position: relative;
    margin-top: 0;
    padding: 5px;
    background-color: #b4b4b3;
    text-align: left;
    width: 190px;
}

.grid a{
    text-decoration: none;
    color: white;
}

/* Slideshow */
.slideshow{
    text-align: center;
}

.about_prev, .about_next{
    font-size: 36px;
    margin-top: 70px;
}

.slideshow a{
    text-decoration: none;
    color: black;
}

/* Typography */
.col1of2 h1{
    display: inline;
    font-size: 30px;
    position: absolute;
    padding-left: 5px;
}

.col1of2 a{
    text-decoration: none;
    color: black;
}

main h3{
    text-align: center;
}

.col1of4 a{
    text-decoration: none;
    color: black;
}

#symptom_title{
    margin-left: 20%;
}

#our_team{
    padding-left: 20px;
}

/* Large Resolutions */
@media only screen and (min-width: 768px) {
    .flex-container{
        display: flex;
    }

    .col1of2, .col1of4, .statcol1of2, .aboutcol1of2, .aboutcol1of5{
        flex: 1;
    }

    .col1of4{
        margin-left: 20px;
        margin-right: 20px;
    }

    #notes{
        columns: 50;
    }
    
    .grid{
        grid-template-columns: repeat(var(--num-of-col, 3), 1fr);;
    }

    .grid h4{
        margin-left: 129px;
        bottom: 30px;
    }
}

/* Small Resolutions */
@media only screen and (max-width: 767px) {
    .login_buttons{
        display: none;
    }

    #main_nav{
        text-align: center;
        margin-right: 40px;
    }

    #main_nav li{
        display: inline-block;
        padding: 5px;
    }

    .about_next, .about_prev{
        display: none;
    }
}